.idea

bluzelle-cs/bin/
bluzelle-cs/obj/
bluzelle-cs/Protocol/*.cs

bluzelle-cs.Protobuf/bin/
bluzelle-cs.Protobuf/obj/
bluzelle-cs.Protobuf/Proto/*.proto

bluzelle-cs.Tests/bin/
bluzelle-cs.Tests/obj/

*.sln